
@import "tailwindcss";

h1, h2, h3, h4, h5, h6 {
    font-size: x-large;
    font-weight: bold;
}

h1{
font-size: 32px;
font-weight: bold;
}

h2{
font-size: 24px;
font-weight: bold;
}
h3{
font-size: 18.72px;
font-weight: bold;
}
h4{
font-size: 16px;
font-weight: bold;
}
h5{
font-size: 13.28px;
font-weight: bold;
}
h6{
font-size: 10.72px;
font-weight: bold;
}
p{
    font-size: 16px;
}
span{
    font-size: 14px;
}

body{
    background-color: #0495FF1A;
}


.ql-toolbar.ql-snow{
    border: none !important;
}

.ql-container.ql-snow{
    border: none !important; 
}
.quill {
    border-radius: 20px;
        box-shadow: 0 2px 10px #0000001a;
    padding: 2px 40px;
}